body {
	margin: 0;
}

.container {
	max-width: 1280px;
	margin: auto;
}

header {
	background-color: #222;
}

.menu {
	display: flex;
	padding: 54px 160px 0;
	justify-content: space-between;
	align-items: center;
}

.menu_left {
	display: flex;
	align-items: center;
}

.menu_list {
	display: flex;
	list-style-type: none;
}

.menu_list li {
	margin-right: 30px;
}

.menu_list a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
}

.mail {
	margin-right: 24px;
}

.contacts {
	display: flex;
	align-items: flex-start;
}

.header_bottom {
	display: flex;
	padding: 24px 160px 121px 282px;
	justify-content: space-between;
	align-items: center;
}

.header_content {
	color: #ffffff;
	max-width: 254px;
}

.header_content h1 {
	font-family: Courier New;
	font-size: 44px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0em;
	text-align: left;
}

.header_content p {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
	margin: 32px 0 54px 0;
}

.header_content button {
	height: 50px;
	width: 240px;
	border-radius: 25px;
	background-color: #FFCB06;
	padding: 17px 22px 17px 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 0;
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	text-transform: uppercase;
}

/* Advantages */

.advantages {
	background-color: #131313;
}

.advantages_container {
	display: flex;
	justify-content: space-between;
	padding: 85px 165px 80px;
}

.advantages p {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #D4D4D4;
}

.advantages article {
	width: 170px;
}

/* Content */

.content_container {
	padding: 80px 165px 125px;
}

.content_top {
	display: flex;
	justify-content: space-between;
}

.content h2 {
	font-family: Courier New;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}

.content p {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}


.content_top img {
	margin-right: 80px;
}
